In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port', '0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [23]:
!hdfs dfs -cat /public/trendytech/datasets/customer_nested/*

{"customer_id":1,"fullname":{"firstname":"sumit","lastname":"mittal"},"city":"bangalore"}
{"customer_id":2,"fullname":{"firstname":"ram","lastname":"kumar"},"city":"hyderabad"}
{"customer_id":3,"fullname":{"firstname":"vijay","lastname":"shankar"},"city":"pune"}

In [24]:
ddlSchema='customer_id long , fullname struct<firstname:string, lastname:string>, city string'

In [25]:
nested_df=spark.read.format('json').schema(ddlSchema).load('/public/trendytech/datasets/customer_nested/*')

In [26]:
nested_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- fullname: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- city: string (nullable = true)

In [27]:
nested_df.show()

+-----------+----------------+---------+
|customer_id|        fullname|     city|
+-----------+----------------+---------+
|          2|    [ram, kumar]|hyderabad|
|          3|[vijay, shankar]|     pune|
|          1| [sumit, mittal]|bangalore|
+-----------+----------------+---------+

In [11]:
from pyspark.sql.types import *

In [28]:
cust_schema= StructType([
    StructField('customer_id',LongType()),
    StructField('fullname',StructType([StructField('firstname',StringType()),StructField('lastname',StringType())])),
    StructField('city',StringType())
])

In [29]:
nested_df1=spark.read.format('json').schema(cust_schema).load('/public/trendytech/datasets/customer_nested/*')

In [30]:
nested_df1.show()

+-----------+----------------+---------+
|customer_id|        fullname|     city|
+-----------+----------------+---------+
|          2|    [ram, kumar]|hyderabad|
|          3|[vijay, shankar]|     pune|
|          1| [sumit, mittal]|bangalore|
+-----------+----------------+---------+

In [31]:
nested_df1.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- fullname: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- city: string (nullable = true)